<div ng-controller="ChatCtrl">
	<form ng-submit="send()">
		<md-input-container>
			<label>feel free to chat...</label>
			<input type="text" ng-model="message"/>
		</md-input-container>
		<md-button type="submit" class="md-raised md-primary">
			<happyface></happyface>
		</md-button>
	</form>
	<hr/>
	<div ng-repeat="line in chat">
		<strong>{{ line.socketId }}</strong> - {{ line.said }}
	</div>
	<div ng-show="message" style="opacity: 0.5;">
		<strong>{{ socketName }}</strong> - {{ message }}
	</div>
</div>
