<div ng-controller="ChatCtrl">
	<form class="input-group col-md-4 col-sm-6" ng-submit="send()">
		<input type="text" class="form-control input-lg" ng-model="message"/>
		<span class="input-group-btn">
			<button class="btn btn-default btn-lg" type="submit">
				<happyface>send</happyface>
			</button>
		</span>
	</form>
	<hr/>
	<div ng-repeat="line in chat">
		<strong>[[ line.socketId ]]</strong> - [[ line.said ]]
	</div>
	<div ng-show="message" style="opacity: 0.5;">
		<strong>[[ socketName ]]</strong> - [[ message ]]
	</div>
</div>
